<div class="container mt-app">
    <!-- Site presentation -->
    <div class="mb-4 p-0 container-intro-message">
        <h2 class="mb-2">Trouvez des <span class="app-color-secondary">voyageurs</span> à destination du Cameroun</h2>
        <p class="muted">Entrez en contact avec des <span class="">voyageurs</span> vérifiés qui peuvent <span
                class="">transporter</span>
            vos colis en toute sécurité
        </p>
    </div>

    <!-- Search bar: Transport city, Period, search bar -->
    <div class="row align-items-start seach-items mb-4">
        <app-city-autocomplete-component 
            class="col-sm" [cities]="citiesCM" 
            label="Où au Cameroun (optionnel) ?"
            placeholder="Ex : Douala, Yaoundé…" 
            hint="Ville où votre colis doit arriver." 
            [(ngModel)]="pickupCity"
            name="pickupCity" 
            [required]="false" 
            [minlength]="2">
        </app-city-autocomplete-component>

        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label class="muted" style="font-size: var(--text-sm);">Période de départ</mat-label>

                <mat-date-range-input [rangePicker]="rangePicker">
                    <input matStartDate [(ngModel)]="fromDate" name="fromDate" placeholder="Du">
                    <input matEndDate [(ngModel)]="toDate" name="toDate" placeholder="Au">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker></mat-date-range-picker>

                <mat-hint class="muted">Choisis une période (ex: 10 jan → 31 jan)</mat-hint>
            </mat-form-field>
        </div>

        <!-- Bouton search -->
        <div class="col-sm button-search">
            <button 
                class="btn-app d-flex align-items-center justify-content-center gap-2 btn-app-primary w-100"
                (click)="onSearch2()" 
                [disabled]="!canSearch"
                style="height: 56px; font-size: 16px;">
                <mat-icon>search</mat-icon>
                    Rechercher
            </button>
        </div>
    </div>

    <!--Item select -->
    <div class="filter-div">
        <div class="d-flex align-items-center">
            <mat-chip-listbox class="my-3" aria-label="Cutest dog breeds">
                @for (chip of selectedPeriodList; track chip) {
                <mat-chip-option (click)="applyQuickPeriod(chip.name)">
                    {{chip.value}}
                </mat-chip-option>
                }
                <mat-chip-option class="ms-2"  (click)="resetFilters()" *ngIf="isThereResult">
                    <span style="color: red;">Effacer la recherche</span>
                </mat-chip-option>
            </mat-chip-listbox>
        </div>
        <h4 class="avaible-trips">Voyageurs disponibles</h4>
    </div>


    @if(isThereResult){
    <div class="border text-center p-3 mb-4" style="background-color: var(--color-bg-accent); color: var(--color-accent);">
        @if(seachResutat == "aucun resultat"){
            <h6 class="m-0" style="font-style: italic;">
                Aucun resultat
            </h6>
        }@else{
            <h6 class="m-0">
                <span style="font-weight: bolder;" >{{listings.length}}</span>
                voyage<span *ngIf="listings!.length>1">s</span> -
                <span style="font-style: italic;">''{{seachResutat}}''</span>
            </h6>
        }   
    </div>
    }

    <!--Item trip / card -->
    <div class="row row-cols-1 row-cols-lg-3 g-3 g-lg-4">
        @for (listing of listings; track listing.id) {
        <div class="col align-items-center">
            <div class="card shadow-app card--hover pt-2 pb-1" style="width: 100%" (click)="openListing(listing.id)">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="col">
                            <div class="d-flex align-items-center gap-1">
                                <span class="material-symbols-outlined icon-size-xl color-1">location_on</span>
                                <strong>{{listing.originCity}} </strong>
                                <!--<strong>{{listing.originCity}}, {{listing.originCountry}} </strong>-->
                            </div>
                            <div class="divider-with-text offset">
                                <span class="material-symbols-outlined">flight_takeoff</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 mb-3">
                                <span class="material-symbols-outlined icon-size-xl color-1">location_on</span>
                                <span class="text-meta-strong">{{listing.destCity}}</span>
                                <!--<span class="text-meta-strong">{{listing.destCity}}, {{listing.destCountry}}</span>-->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="d-flex mb-3 gap-4 col-8">
                            <div class="card-text d-flex align-items-center gap-1" style="color: var(--color-muted);">
                                <span class="material-symbols-outlined icon-size-lg">calendar_today</span>
                                <span class="text-meta">{{listing.departDate | date:'dd MMM yyyy' }}</span>
                            </div>
                            <div class="card-text d-flex align-items-center gap-1" style="color: var(--color-muted);">
                                <span class="material-symbols-outlined icon-size-lg">balance</span>
                                <span class="text-meta">{{listing.maxWeightKg}}kg</span>
                            </div>
                        </div>
                        <span class="mb-3 col-4 text-end"
                            style="font-size: var(--text-xl); color: var(--color-accent); font-weight: 1000;">
                            {{listing.pricePerKg}}€/kg
                        </span>
                    </div>
                    <div class="border-top align-items-center d-flex align-items-start gap-2 pt-3">
                        <div class="avatar" [style.background]="avatarColor(listing.transporter.firstName)">
                            {{(listing.transporter.firstName | firstLetter )}}
                        </div>
                        <span class="text-meta">{{listing.transporter.firstName}}</span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>

    <!--Pagination -->
    <div class="my-3 d-flex align-items-center justify-content-center" *ngIf="totalPages > 1">
        <button class="btn btn-outline-secondary material-symbols-outlined px-4" (click)="prevPage()"
            [disabled]="isFirst">
            chevron_left
        </button>

        <span class="mx-2">
            Page {{ page + 1 }} / {{ totalPages }}
            <!--Page {{ page + 1 }} / {{ totalPages }} • {{ totalElements }} annonces -->
        </span>
        <button class="btn btn-outline-secondary material-symbols-outlined px-4" (click)="nextPage()"
            [disabled]="isLast">
            chevron_right
        </button>
    </div>
</div>