/* Presentation text  */


/* trait qui separe les deux ville */
.divider-with-text {
  display: flex;
  align-items: center;
  color: #6b7280;
  margin: 2px 0px 2px 26px;
}

.divider-with-text::before,
.divider-with-text::after {
  content: "";
  height: 1px;
  background-color: #e5e7eb;
  flex: 1;
}

.divider-with-text span {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  /*text-transform: uppercase;*/
}

/* 🔥 Décalage horizontal */
.divider-with-text.offset::before {
  flex: 1; /* ligne gauche plus longue */
}

.divider-with-text.offset::after {
  flex: 9; /* ligne droite plus courte */
}

/* style pour les icones des voyages disponible*/
.material-symbols-outlined{
    font-size: var(--text-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-border-field {
  /* supprime l'underline (la ligne du bas) */
  --mdc-filled-text-field-active-indicator-height: 0px;
  --mdc-filled-text-field-hover-active-indicator-height: 0px;
  --mdc-filled-text-field-focus-active-indicator-height: 0px;

  /* fond par défaut */
  --mdc-filled-text-field-container-color: #f3f4f6; /* gris clair */
}

/* Mobile */
@media (max-width: 600px) {

  .card button{
    display: none;
  }

  .card {
    cursor: pointer;
  }

  .button-search{
    margin-top: 10px;
  }
}
