/* Divider with text (horizontal) */
.divider-with-text {
  display: flex;
  align-items: center;
  color: var(--color-muted);
  margin: 2px 0px 2px 26px;
}

.divider-with-text::before,
.divider-with-text::after {
  content: "";
  height: 1px;
  background-color: #e5e7eb;
  flex: 1;
}

.divider-with-text span {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
}

/* 🔥 Décalage horizontal */
.divider-with-text.offset::before {
  flex: 1; /* ligne gauche plus longue */
}

.divider-with-text.offset::after {
  flex: 9; /* ligne droite plus courte */
}

/* style pour entrer une date recherche */

.filter-div{
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile */
@media (max-width: 600px) {

  .container-intro-message{
    text-align: center;
  }

  .seach-items{
    gap: 8px;
  }

  .card {
    cursor: pointer;
  }

  .avaible-trips{
    display: none;
  }

  .filter-div{
    display: block;
    flex-direction: column-reverse;
  }

  .filter-div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
