<div class="container mt-app">
    <!-- <button class="btn-app btn-app-primary publier">+ Publier</button> -->
    <!-- Presentation text -->
    <div class="mb-4 p-0 text-center container-intro-message">
        <h1 class="mb-2">Trouvez des <span class="app-color-secondary">voyageurs</span> à destination du Cameroun</h1>
        <p class="muted">Entrez en contact avec des <span class="">voyageurs</span> vérifiés qui peuvent <span
                class="">transporter</span>
            vos colis en toute sécurité
        </p>
    </div>

    <!-- Search bar: Transport city, Period, search bar -->
    <div class="row align-items-start mb-5">
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label class="muted" style="font-size: var(--text-sm);">Ville du transporteur
                    (optionnel)</mat-label>
                <mat-icon matPrefix>location_on</mat-icon>
                <input style="font-size: var(--text-sm);" matInput [(ngModel)]="pickupCity" name="pickupCity"
                    placeholder="Ex: Cologne">
                <!-- <mat-hint>Tu peux envoyer le colis par la poste ou remise en main propre.</mat-hint> -->
            </mat-form-field>
        </div>

        <!-- Period -->
        <div class="col-sm">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label class="muted" style="font-size: var(--text-sm);">Période de départ</mat-label>

                <mat-date-range-input [rangePicker]="rangePicker">
                    <input matStartDate [(ngModel)]="fromDate" name="fromDate" placeholder="Du">
                    <input matEndDate [(ngModel)]="toDate" name="toDate" placeholder="Au">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker></mat-date-range-picker>

                <mat-hint class="muted">Choisis une période (ex: 10 jan → 31 jan)</mat-hint>
            </mat-form-field>
        </div>

        <!-- Bouton search -->
        <div class="col-sm button-search">
            <button class="btn-app d-flex align-items-center justify-content-center gap-2 btn-app-primary w-100"
                (click)="onSearch()" style="height: 56px; font-size: 16px;">
                <mat-icon>search</mat-icon>
                Rechercher
            </button>
        </div>
    </div>

    <!--Item trip / card -->
    <h4 class="">Voyageurs disponible</h4>
    <div class="row row-cols-1 row-cols-lg-3 g-3 g-lg-4">
        @for (listing of listings; track listing.id) {
        <div class="col align-items-center">
            <div class="card shadow-app card--hover pt-2 pb-1" style="width: 100%" (click)="openListing(listing.id)">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="col">
                            <div class="d-flex align-items-center gap-1">
                                <mat-icon class="material-symbols-outlined color-1">location_on</mat-icon>
                                <strong>{{listing.originCity}} </strong>
                                <!--<strong>{{listing.originCity}}, {{listing.originCountry}} </strong>-->
                            </div>
                            <div class="divider-with-text offset">
                                <span class="material-symbols-outlined">flight_takeoff</span>
                            </div>
                            <div class="d-flex align-items-center gap-1 mb-3">
                                <mat-icon class="material-symbols-outlined color-1">location_on</mat-icon>
                                <span class="text-meta-strong">{{listing.destCity}}</span>
                                <!--<span class="text-meta-strong">{{listing.destCity}}, {{listing.destCountry}}</span>-->
                            </div>
                        </div>
                        <h6 class="col text-end"
                            style="font-size: var(--text-lg); color: var(--color-accent); font-weight: 1000; display: none;">
                            10€/kg
                        </h6>
                    </div>

                    <div class="row">
                        <div class="d-flex mb-3 gap-3 col-8">
                            <div class="card-text d-flex align-items-center" style="color: var(--color-muted);">
                                <mat-icon class="material-symbols-outlined">calendar_today</mat-icon>
                                <span class="text-meta">{{listing.departDate | date:'dd MMM yyyy' }}</span>
                            </div>
                            <div class="card-text d-flex align-items-center" style="color: var(--color-muted);">
                                <mat-icon class="material-symbols-outlined">balance</mat-icon>
                                <span class="text-meta">{{listing.maxWeightKg}}kg</span>
                            </div>
                        </div>
                        <span class="mb-3 col-4 text-end"
                            style="font-size: var(--text-xl); color: var(--color-accent); font-weight: 1000;">
                            {{listing.pricePerKg}}€/kg
                        </span>
                    </div>
                    <div class="border-top align-items-center d-flex align-items-start gap-2 pt-3">
                        <div class="avatar" [style.background]="avatarColor(listing.transporter.firstName)">
                            {{(listing.transporter.firstName | firstLetter )}}
                        </div>
                        <span class="text-meta">{{listing.transporter.firstName}}</span>
                    </div>

                    <!-- Button -->
                    <!--<div class="d-grid details-btn">
                        <button (click)="openListing(listing.id)" class="btn btn-app-outline-secondary mt-3 mb-2 py-2"
                            style="font-size: var(--text-sm);">
                            Détails
                        </button>
                    </div>-->
                </div>
            </div>
        </div>
        } @empty {
        <h4>Aucune annonce pour le moment!</h4>
        }
    </div>

    <!--Pagination -->
    <div class="my-3 d-flex align-items-center justify-content-center" *ngIf="totalPages > 1">
        <button class="btn btn-outline-secondary material-symbols-outlined px-4" (click)="prevPage()"
            [disabled]="isFirst">
            chevron_left
        </button>

        <span class="mx-2">
            Page {{ page + 1 }} / {{ totalPages }}
            <!--Page {{ page + 1 }} / {{ totalPages }} • {{ totalElements }} annonces -->
        </span>
        <button class="btn btn-outline-secondary material-symbols-outlined px-4" (click)="nextPage()"
            [disabled]="isLast">
            chevron_right
        </button>
    </div>
</div>