/* ===== BASE ===== */
.navbar {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 20px;
  background: var(--color-bg);
  z-index: 50;
  transition: box-shadow 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

a{
  text-decoration: none;
  color: var(--color-accent)
}

.desktop-link-button{
  color: var(--color-accent); 
  border: 1px solid var(--color-accent);
  padding: 8px 16px;
  border-radius: 26px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right {
  margin-left: auto;
}

.nav-right a {
  transition: background 150ms ease, color 150ms ease;
}

/* Hover (si pas actif) */
.desktop-link-button.active {
  background-color: var(--color-accent);
  color: white;
  border: none;
}

.desktop-link:not(.active):hover {
  border-bottom: solid 1px var(--color-accent);
}

/* Actif */
.desktop-link.active {
  color: #008b58;
  font-weight: 600;
}

.logo {
  font-weight: 700;
  font-size: var(--text-xxl);
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  color: var(--color-accent);
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
}

/* ===== Mobile menu dropdown ===== */
.mobile-menu {
  position: absolute;
  top: 58px;
  right: 0;
  width: 100%;
  background-color: var(--color-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #ddd;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms ease;
}

.mobile-menu.open {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 14px 14px 14px;
  margin: 8px 8px 8px 8px;
  text-decoration: none;
  color: rgb(1, 12, 1);
  font-weight: 500;
  transition: background 150ms ease, color 150ms ease;
  border-radius: 8px;
}

.mobile-menu a:not(.active):hover {
  background-color: #147e2620;
}

.mobile-menu a.active {
  background-color: var(--color-accent);
  color: white;
  border: none;
}

.avatar{
  width: 28px;
  height: 28px;
  border: solid 1px var(--color-accent);
  background: var(--color-bg);
}

/* ===== Mobile layout ===== */
@media (max-width: 767px) {
  .navbar {
    justify-content: space-between;
  }

  .mobile-link {
    font-size: var(--text-lg);
    background-color: var(--color-accent);
    color: white;
  }

  .nav-right {
    gap: 12px;
  }


  .mobile-menu {
    height: 100dvh;
  }

  .desktop-link, .desktop-link-button{
    display: none;
  }
}

/* ===== Desktop layout ===== */
@media (min-width: 768px) {
  .burger, .mobile-link {
    display: none;
  }

  .mobile-menu {
    width: 300px;
  }
}
