# =========================
# MYSQL (Docker)
# =========================
MYSQL_DATABASE=diasporabridge_db
MYSQL_USER=diaspora
MYSQL_PASSWORD=xxxxyyyzzz
MYSQL_ROOT_PASSWORD=xxxxyyyzzz

# =========================
# SPRING BOOT (Docker)
# =========================
SPRING_PROFILES_ACTIVE=prod

SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/diasporabridge_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=diaspora
SPRING_DATASOURCE_PASSWORD=xxxxyyyzzz

# =========================
# BREVO SMTP (Docker)
# =========================
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USERNAME=9e0abb001@smtp-brevo.com
BREVO_SMTP_PASSWORD=xxxxyyyzzz

# =========================
# JWT
# =========================
JWT_SECRET=xxxxyyyzzz
