# =========================
# GLOBAL (Monorepo)
# =========================

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
**/.env
**/.env.*
**/.env.local

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDE / Editors
.idea/
.vscode/
.history/
*.iml
.project
.classpath
.settings/
*.launch
*.sublime-workspace
.c9/

# =========================
# NODE / ANGULAR (Frontend)
# =========================

# Node dependencies
**/node_modules/

# Angular cache/build
**/.angular/
**/.angular/cache/
**/dist/
**/out-tsc/
*.tsbuildinfo

# Coverage
**/coverage/

# =========================
# JAVA / SPRING (Backend)
# =========================

# Maven / Gradle
**/target/
**/build/

# =========================
# MISC
# =========================

# Mac / temp
**/.metadata/
**/.classpath
**/.factorypath
**/.recommenders/
