<mat-form-field appearance="outline" class="w-100 custom-green-focus-label custom-border-focus">
  <mat-label class="label-input">{{ label }}</mat-label>

  @if (icon) {
    <mat-icon 
      class="border-color-input" 
      type="button"
      matPrefix
      (click)="onBackClick($event)"
    >{{ icon }}</mat-icon>
  }

  <input
    matInput
    [ngModel]="value"
    (ngModelChange)="onInput($event)"
    (keydown.enter)="onEnter()"
    (blur)="onBlur(); model.control.markAsTouched()"
    [required]="required"
    [minlength]="minlength"
    [disabled]="disabled"
    [matAutocomplete]="auto"
    [placeholder]="placeholder"
    #model="ngModel"
  />

  <mat-icon
    *ngIf="value"
    mat-icon-button
    class="muted"
    matSuffix
    aria-label="Clear"
    type="button"
    (click)="onClearClick($event)"
  >close
  </mat-icon>

  @if (showSearchIcon) {
    <mat-icon
      matSuffix
      class="clickable-icon"
      aria-label="Search"
      type="button"
      (click)="onSearchClick($event)">
      search
    </mat-icon>
  }

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onSelected($event.option.value)"
    autoActiveFirstOption
  >
    @for (c of (filteredCities$ | async); track c.id) {
      <mat-option [value]="c.name">
        {{ c.name }}
        @if (c.state) {
          <span class="muted">· {{ c.state }}</span>
        }
        @if (c.region) {
          <span class="muted">· {{ c.region }}</span>
        }
      </mat-option>
    }
  </mat-autocomplete>

  @if (hint) {
    <mat-hint class="muted">{{ hint }}</mat-hint>
  }

  @if (model.touched && model.errors?.['required']) {
    <mat-error>{{ 'CITY_INPUT.REQUIRED' | translate }}</mat-error>
  }
  @if (model.touched && model.errors?.['minlength']) {
    <mat-error> {{ 'CITY_INPUT.MIN_LENGTH' | translate:{ minlength: 2 } }}</mat-error>
  }
</mat-form-field>
