.listing-card-wrapper {
  display: flex;
  align-items: center;
}

.listing-card {
  width: 100%;
  cursor: pointer;
}

.route-city {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.route-city--bottom {
  margin-bottom: 1rem;
}

.listing-meta .meta-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-muted);
}

.listing-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Divider with text (horizontal) */
.divider-with-text {
  display: flex;
  align-items: center;
  color: var(--color-muted);
  margin: 2px 0px 2px 26px;
}

.divider-with-text::before,
.divider-with-text::after {
  content: "";
  height: 1px;
  background-color: #e5e7eb;
  flex: 1;
}

.divider-with-text span {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 500;
}

/* Décalage horizontal */
.divider-with-text.offset::before {
  flex: 1; /* ligne gauche plus longue */
}

.divider-with-text.offset::after {
  flex: 22; /* ligne droite plus courte */
}