<nav class="navbar" #navbar [class.scrolled]="isScrolled">
  <app-language-switcher class="nav-left"></app-language-switcher>

      <!-- App title -->
  <div class="logo" routerLink="/">
    <span style="font-weight: 300">Mboko</span>
    <span style="font-style: italic;">GO</span>
    <!--<img src="/icon-192x192.png" alt="MbokoGo">-->
  </div>

  <!-- Desktop -->
  <div class="nav-right">
    <a routerLinkActive="active" class="desktop-link" routerLink="/"  [routerLinkActiveOptions]="{ exact: true }"> 
      {{ 'DESKTOP_NAV.LISTINGS' | translate }}
    </a>

    <a routerLinkActive="active" class="desktop-link-button" routerLink="/add-listing">
      {{ 'DESKTOP_NAV.CREATE_LISTING' | translate }}
    </a>

    <a routerLinkActive="active" class="desktop-link" routerLink="/messages">
      {{ 'DESKTOP_NAV.MESSAGES' | translate }}
    </a>

    <a routerLinkActive="active" class="desktop-link" [matBadge]="unreadMessage" matBadgeSize="large">
      @if(authService.isLoggedIn()){
        
        <div class="d-flex align-items-center" (click)="!toggleMenu()" style="cursor: pointer;">
          <span class="avatar">{{ (currentUserEmail2$ | async) | firstLetter }}</span>
          @if(!mobileMenuOpen){
          <span class="material-symbols-outlined">keyboard_arrow_down</span>
          }@else {
          <span class="material-symbols-outlined d-flex align-items-center">
          keyboard_arrow_up</span>
          }
        </div>
        
      }@else{
      <span [matMenuTriggerFor]="menu" class="material-symbols-outlined avatar">person</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/auth/login">{{ 'DESKTOP_NAV.LOGIN' | translate }}/{{ 'DESKTOP_NAV.LOGOUT' | translate }}</button>
      </mat-menu>
      }
    </a>
  </div>

  <!-- Mobile dropdown -->
  <div class="mobile-menu" [class.open]="mobileMenuOpen" #mobileMenu>
    <a routerLink="/messages" (click)="closeMenu()" routerLinkActive="active">
      <span class="material-symbols-outlined">chat_bubble</span>
      <span matBadge="{{unreadMessage}}" matBadgeOverlap="false">{{ 'DESKTOP_NAV.MESSAGES' | translate }}</span>
    </a>
   
    <a routerLink="/profil" (click)="closeMenu()" routerLinkActive="active">
      <span class="material-symbols-outlined">account_box</span>
      {{ 'DESKTOP_NAV.PROFILE' | translate }}
    </a>
  
    @if(authService.isLoggedIn()) {
    <a (click)="logout()" class="dropdown-item">
      <span class="material-symbols-outlined">logout</span>
      {{ 'DESKTOP_NAV.LOGOUT' | translate }}
    </a>
    }@else{
    <a class="dropdown-item color-1" routerLink="/auth/login" (click)="closeMenu()">{{ 'DESKTOP_NAV.LOGIN' | translate }}</a>
    }
  </div>
</nav>