.chat {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.messages {
    padding: 12px;
    height: 60vh;
    overflow: auto;
}

.msg {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.meta {
    font-size: 12px;
    opacity: .7;
    display: flex;
    justify-content: space-between;
}

.body {
    font-size: 14px;
}

.composer {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 14px;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.container-match-and-chat {
    display: flex;
    gap: 10px;
    display: flex;
    height: 100%;
}

.container-match-and-chat ul {
    cursor: pointer;
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.matches-list {
    max-width: 600px;
    border: 1px solid #ddd;
    flex: 1;
    border-radius: 18px;
}

.matches-list ul li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.matches-list ul li p {
    margin: 0px;
    padding: 0px;
}

.profile-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    /* coupe l'image a l'interieur */
    background: rgb(223, 223, 223);
    /*box-shadow: 0 4px 10px rgba(0,0,0,0.01);*/

    display: flex;
    align-items: center;
    /* centre verticalement */
    justify-content: center;
    /* centre horizontalement */
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* evite que l'image soit deformee a l interieux du div */
}

.profile-avatar .mat-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-list {
    flex: 2;
    border-radius: 18px;
    margin: 0px;
    padding: 0px;
}

.container-match-and-chat2 {
    display: flex;
    height: 100%;
    gap: 10px;
    border: 1px solid red;
}

.container-match-and-chat2>div {
    width: 300px;
}