<div class="container mt-4">
    @if (loading) {
    <div>Chargement ... </div>
    }

    @if (!loading && trip) {
    <div class="" style="display: flex;">
        <!-- <h2 class="mb-1">Annonce de {{trip.transporter.firstName}}</h2> -->
        <div class="rounded-4 border" style="width: 500px; margin-right: 10px;">
            <img src="/voyageur.jpeg" alt="Profile photo of the transporter" style="width: 100%; height: 100%;" class="rounded-2"/>
        </div>
        <div>
            <div class="border rounded-4 p-4" style="width: 800px; margin-left: 10px;">
            <h2 class="mb-1">{{trip.transporter.firstName}} va au {{trip.destCountry}} {{trip.destCity}}</h2> <br>
            <p><strong>Origine: </strong> {{trip.originCity}}, {{trip.originCountry}} vers {{trip.destCity}}, {{trip.destCountry}}</p>
            <p><strong>Date:</strong> {{trip.departDate}}</p>
            <p><strong>Poids max disponible:</strong> {{trip.maxWeightKg}} Kg</p>
            <p><strong>Prix par Kilo:</strong> 10 Euro</p>
            <p><strong>Notes:</strong> <br> {{trip.note}} </p>
            <button class="btn btn-primary">Contacter l'expéditeur</button>
            </div>
        </div>
    </div>
    }

    @if (loading && !trip) {
    <div>Annonce introuvable!</div>
    }
</div>
