.about-container {
  padding: 100px 16px 8px 16px;
  max-width: 900px;
  margin: 0 auto;
}

.back-button{
  display: none;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--color-accent); /* vert principal */
}

.subtitle {
  font-size: 16px;
  opacity: 0.8;
  max-width: 600px;
  margin: 0 auto;
}

.section {
  margin-bottom: 36px;
}

.section h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--color-accent);
  position: relative;
}

.section h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--color-accent);
  margin-top: 6px;
  border-radius: 2px;
}

.section p {
  line-height: 1.6;
  opacity: 0.85;
}

.section ul {
  padding-left: 18px;
  line-height: 1.6;
  opacity: 0.85;
}

.section li {
  margin-bottom: 6px;
}

.underline {
    text-decoration: underline;
}

/* Responsive desktop */
@media (min-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }

  

  .section h2 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 768px){
  .about-container {
    padding: 60px 16px 8px 16px;
    background-color: var(--color-bg);
    position: absolute;
    background-color: var(--color-bg);
    z-index: 100;
  }

}