<div class="container-chat">
  <div class="container-titel-and-back-button">
    <span 
      class="material-symbols-outlined back-button" 
      (click)="onReturntoMatchList()">
        keyboard_backspace
    </span> 
    <span class="avatar">{{'User Name '| firstLetter }}</span>
    <span class="m-0 ">User Name</span>
  </div>
  @if (messages; as msgs) {
  <div class="container chat-message" #scrollContainer>
    <ul>
      @for (m of msgs; track m.id) {
      <li class="{{m.senderId === curruntUser ? 'my-chat-message' : 'other-chat-message'}}">
        <span> {{ m.body }} </span> <br />
        <small>{{ formatMessageDate(m.sentAt) }}</small>
      </li>
      }
      <li #bottomAnchor style="height: 1px;"></li>
    </ul>
  </div>
  } @else {
  <p>Loading messages...</p>
  }
  <div class="chat-input">
    <form (ngSubmit)="onSend()" class="d-flex gap-2">
      <textarea [(ngModel)]="draft" name="draft" placeholder="Écris ton message..." class="form-control p-2 w-100"
        id="exampleFormControlTextarea1" rows="1">
        </textarea>
      <button type="submit" [disabled]="!draft.trim()" class="btn p-2 flex-shrink-1">
        <mat-icon class="mat-icon">send</mat-icon>
      </button>
    </form>
  </div>
</div>