.container-chat {
    display: flex;
    flex-direction: column;
    height: 80dvh;
}

.container-titel-and-back-button {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.chat-message {
    flex: 1;
    overflow-y: auto;
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ebf1f1;
    background: white;
    /*position: sticky;
  bottom: 0;*/
}

.chat-input textarea {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e8e8e8;
}

.my-chat-message {
    text-align: right;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.my-chat-message span {
    background-color: #008b58;
    display: inline-block;
    padding: 14px;
    max-width: 70%;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
    color: white;
}

.other-chat-message {
    text-align: left;
    margin-bottom: 16px;
}

.other-chat-message span {
    background-color: #e8e8e8;
    display: inline-block;
    padding: 14px;
    max-width: 70%;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
}

@media (min-width: 600px) {
    .back-button {
        display: none;
    }
}

@media (max-width: 600px) {
    .container-chat {
        display: flex;
        flex-direction: column;
        height: 90dvh;
        margin-top: 9vh;
        /*
        position: relative;
        position: fixed;
        inset: 0;
        z-index: 50;
        background-color: white;
        */
    }

    .chat-message {
        margin-top: 4px;
    }

    .container-titel-and-back-button .back-button {
        color: var(--color-accent);
    }
}