.container-chat {
    display: flex;
    flex-direction: column;
    height: 80dvh;
    margin: auto;
    width:  50%;
    position: relative;
    top: 8dvh;
}

.back-button {
    color: var(--color-accent);
}

.container-titel-and-back-button {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.chat-input {
    margin: 10px;
}

.chat-input textarea {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e8e8e8;
}

ul {
  list-style: none;
  padding: 0;
}

.chat-message {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

/* Style commun aux deux types */
.my-chat-message,
.other-chat-message {
  margin-bottom: 16px;
}

.my-chat-message { text-align: right; }
.other-chat-message { text-align: left; }

/* Bubble commun */
.my-chat-message span,
.other-chat-message span {
  display: inline-block;
  padding: 8px 14px 2px 10px;; 
  max-width: 80%;
  border-radius: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

/* Couleurs */
.my-chat-message span {
  background: #095910;
  color: white;
}

.other-chat-message span {
  background: #e8e8e8;
}


/* Mobile */
@media (min-width: 600px) {
    /*back-button {
        display: none;
    }
    */
}

@media (max-width: 600px) {
    .container-chat {
        display: flex;
        flex-direction: column;
        height: 92dvh;
        width: 100%;
        /*
        position: relative;
        position: fixed;
        inset: 0;
        z-index: 50;
        background-color: white;
        */
    }

    .chat-message {
        margin-top: 4px;
    }
}