
.back-button{
    display: none;
}

.container-match-and-chat {
    display: flex;
    gap: 10px;
    height: 80dvh;
    padding: 0px;
    margin: 0px;
}

.container-match-and-chat ul {
    cursor: pointer;
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.matches-item-container {
    padding: 12px;
    transition: background 150ms ease;
    overflow-y: auto;
}

.matches-list {
    flex: 1;
    overflow-y: auto;
}

.match-item:hover {
    background: #eceff4;
}

.match-item.active {
    background: #008b58;
}

.matches-list ul li {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Matches info*/

.chat-firstname {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.preview-message {
    font-weight: 400;
    font-size: var(--text-sm);
    color: var(--color-muted);
}

.updated-date {
    color: var(--color-muted);
    font-size: var(--text-xs);
}

.container-chat-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*-----------------------------*/

/* Mobile */
@media (max-width: 600px) {

    .back-button {
        display: flex;
        align-items: center;
        color: var(--color-accent);
    }

    .container-match-and-chat {
        /*
        position: relative;
        position: fixed;
        inset: 0;
        z-index: 50;
        background: #fff;*/
        flex: 1;
    }

    .matches-list.hide-on-mobile {
        display: none;
    }

    .chat-list {
        position: fixed;
        inset: 0;
        /* top/right/bottom/left = 0 */
        background: #fff;
        z-index: 50;

        display: block;
        transform: translate(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .container-match-and-chat {
        /*
        position: relative;
        position: fixed;
        inset: 0;
        z-index: 50;
        background-color: white;
        */
        height: 100dvh;
    }

    .container-chat-component {
        background-color: red;
    }

    .mobile {
        position: relative;
        position: fixed;
    }
}

@media (min-width: 599px) {}