.back-button{
    display: none;
}

.title{
    text-align: center;
}

.avatar{
    font-size: 20px;
    font-weight: 1000;
    width: 48px;
    height: 44px;
}

.matches{
    padding: 0px;
    margin: 0px auto;
    transition: background 150ms ease;
    overflow-y: auto;
    cursor: pointer;
    list-style: none;
    list-style-type: none;
    width: 50%;
}

.match-item{
    display: flex;
    align-items: center;
}

.match-item:hover {
    background: rgba(3, 165, 3, 0.062);
}

.chat-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
    margin: 0px;
    padding: 0px;
}

.chat-description h6{
    font-size: var(--text-sm);
}

.preview-message {
    font-weight: 400;
    font-size: var(--text-sm);
    color: var(--color-muted);
}

.updated-date {
    color: var(--color-muted);
    font-weight: 400;
    font-size: var(--text-xs);
}

@media (max-width: 600px) {

    .title{
        text-align: start;
        margin-left: 16px;
    }

    .back-button {
        display: flex;
        align-items: center;
        color: var(--color-accent);
    }

    .matches{
        width: 100%;
    }

    .match-item{
        border-radius: 0px;
    }
}