.user-profil-and-listings {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto 1fr;
    gap: 20px;

    grid-template-areas: "annonces user";
}

.user-profil {
    grid-area: user;    
}

.user-listings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes */
    gap: 8px;

    grid-area: annonces;
}

.user-info-and-button-container {
    border: 1px solid green;
    width: 100%;
}

.user-info-and-button {
    display: flex;
    justify-content: space-between;
}

.user-info-and-button button {
    margin: 0px;
    padding: 0px;
    width: 30px;
}

.container-button-and-description {
    display: flex;
}

.span-text {
    font-size: var(--text-xs);
    margin-left: 2px;
}

.icon-size-m {
    font-size: var(--text-base);
}

.container-description {
    flex: 2;
    color: var(--color-text);
    font-size: var(--text-xs);
    font-weight: 400;
}

@media (min-width: 600px) {
    .container-my-listing {
        width: 900px;
        margin: 0 auto
    }
}

@media (max-width: 768px) {
    .user-listings {
        display: grid;
        grid-template-columns: 1fr;/* 1 colonnes */
    }

    .user-profil-and-listings {
        grid-template-columns: 1fr;
        grid-template-areas:
            "user"
            "annonces"
            
        ;
    }
}