.user-profil-and-listings {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto 1fr;
    gap: 20px;

    grid-template-areas: "annonces user";
}

.user-profil {
    grid-area: user;    
}

.user-listings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes */
    gap: 8px;

    grid-area: annonces;
}

.span-text {
    font-size: var(--text-xs);
    margin-left: 2px;
}

.icon-size-m {
    font-size: var(--text-base);
}

.container-description {
    flex: 2;
    color: var(--color-text);
    font-size: var(--text-xs);
    font-weight: 400;
}

@media (max-width: 768px) {
    .user-listings {
        display: grid;
        grid-template-columns: 1fr;/* 1 colonnes */
    }

    .user-profil-and-listings {
        grid-template-columns: 1fr;
        grid-template-areas:
            "user"
            "annonces"
            
        ;
    }
}