<div class="container-add-listing mt-app">
    <!-- First titel -->
    <div class="mb-4 p-0 border-0">
        <h1 class="app-title-color">Créer une nouvelle annonce</h1>
        <p style="color: var(--color-muted);">Partagez vos projets de voyage et aidez d'autres personnes à envoyer
            des colis chez elles
        </p>
    </div>

    <div class="container-add-listing-and-consignes">
        <div class="col-sm add-listing-form">
            <div class="d-flex align-items-center mb-3 gap-2">
                <mat-icon matPrefix class="color-accent">flight</mat-icon>
                <h6 class="m-0 fw-medium">Informations sur le voyage</h6>
            </div>
            <form #tripForm="ngForm" (ngSubmit)="addListing(tripForm)">
                <div class="row row-cols-1 row-cols-lg-2 g-3 g-lg-2 mb-3">
                    <app-city-autocomplete-component 
                        [cities]="citiesDE" 
                        label="Ville de départ (Allemagne)"
                        placeholder="Ex : Köln, Berlin…"
                        hint="Ville où le colis sera remis au transporteur."
                        [(ngModel)]="newListing.originCity" name="originCity" [required]="true" [minlength]="2">
                    </app-city-autocomplete-component>

                    <app-city-autocomplete-component 
                        [cities]="citiesCM" label="Où au Cameroun ?"
                        placeholder="Ex : Douala, Yaoundé…" hint="Ville d’arrivée du colis au Cameroun."
                        [(ngModel)]="newListing.destCity" name="destCity" [required]="true" [minlength]="2">
                    </app-city-autocomplete-component>
                </div>

                <!-- Date -->
                <div class="row justify-content-center mb-3">
                    <mat-form-field appearance="outline" class="w-full d-block col custom-border-focus custom-green-focus-label input-hover">
                        <mat-label>Date de départ</mat-label>

                        <input matInput [matDatepicker]="picker" [(ngModel)]="newListing.departDate" name="departDate" style="cursor: pointer;"
                            #departDate="ngModel" required [matDatepickerFilter]="futureDatesOnly" readonly (click)="picker.open()" />

                        <mat-datepicker-toggle class="border-color-input" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [startAt]="today"></mat-datepicker>

                        <mat-error *ngIf="departDate.touched && departDate.errors?.['required']">
                            La date de départ est obligatoire.
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- weight + price -->
                <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-2 mb-3">
                    <mat-form-field appearance="outline" class="example-full-width col custom-border-focus custom-green-focus-label">
                        <mat-label>Kilo dispo</mat-label>
                        <mat-icon class="border-color-input" matPrefix>balance</mat-icon>

                        <input matInput type="number" [(ngModel)]="newListing.maxWeightKg" name="maxWeightKg"
                            #maxWeightKg="ngModel" required min="1" placeholder="Kilo disponible" />

                        <mat-error *ngIf="maxWeightKg.touched && maxWeightKg.errors?.['required']">
                            Le poids disponible est obligatoire.
                        </mat-error>
                        <mat-error *ngIf="maxWeightKg.touched && maxWeightKg.errors?.['min']">
                            Le poids doit être au moins 1 kg.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width col custom-border-focus custom-green-focus-label">
                        <mat-label>Prix par kilo</mat-label>
                        <mat-icon class="border-color-input" matPrefix>euro_symbol</mat-icon>

                        <input matInput type="number" [(ngModel)]="newListing.pricePerKg" name="pricePerKg"
                            #pricePerKg="ngModel" required min="0" step="0.01" placeholder="Ex: 10" />

                        <mat-error *ngIf="pricePerKg.touched && pricePerKg.errors?.['required']">
                            Le prix par kilo est obligatoire.
                        </mat-error>
                        <mat-error *ngIf="pricePerKg.touched && pricePerKg.errors?.['min']">
                            Le prix ne peut pas être négatif.
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- NOTE (optionnel) -->
                <div class="row justify-content-center mb-3">
                    <mat-form-field appearance="outline" class="example-full-width custom-border-focus custom-green-focus-label">
                        <mat-label>Laisser un commentaire</mat-label>
                        <textarea matInput [(ngModel)]="newListing.note" name="note" maxlength="500"
                            style="height: 100px;" placeholder="Laisser un commentaire...">
                        </textarea>
                        <mat-hint style="color: rgba(0,0,0,0.748)">
                            Indiquez les informations relatives à ce que vous pouvez transporter.
                        </mat-hint>
                    </mat-form-field>
                </div>

                <!-- Consignes importantes -->
                <div class="my-4 p-3 rounded-2 container-consignes-2"
                    style="background-color: #1cbd271e; border: 1px solid var(--color-accent);">
                    <h6 class="mb-2">Consignes importantes</h6>
                    <ul>
                        <li>Ne transportez que des articles avec lesquels vous êtes à l'aise.</li>
                        <li>Vérifiez le contenu avant d'accepter les colis.</li>
                        <li>Communiquez de manière transparente.</li>
                        <li>Respectez les réglementations douanières.</li>
                        <li>Fournissez des mises à jour de suivi lorsque cela est possible.</li>
                    </ul>
                </div>

                <!-- BOUTONS -->
                <div class="d-flex gap-2">
                    <button type="button" class="btn-app btn-ghost col">
                        Annuler
                    </button>

                    <button type="submit" class="btn-app btn-app-primary gap-2 col" [disabled]="tripForm.invalid">
                        Publier l'annonce
                    </button>
                </div>

                <!-- MESSAGE GLOBAL -->
                <div *ngIf="message">
                    <h5>{{ message }}</h5>
                </div>

            </form>
        </div>

        <div class="container-consignes">
            <div class="border p-3 rounded-4 mb-4">
                <!--<img src="assets/images/add-listing-illustration.png" class="card-img-top"
                    alt="Illustration de création d'annonce">-->
                <div class="card-body">
                    <h6 class="card-title text-center mb-2">Pourquoi créer une annonce ?</h6>
                    <p class="card-text mx-2 ">
                        C'est une excellente façon de contribuer à la communauté et de faciliter les échanges entre les voyageurs et les expéditeurs.
                </div> <!--En créant une annonce, vous partagez vos projets de voyage et aidez d'autres personnes à envoyer des colis chez elles.-->
            </div>
        
            <!-- Consignes importantes -->
            <div class="p-3" 
                style="background-color: #1cbd271e; border: 1px solid var(--color-accent); border-radius: var(--radius-lg);">
                <h6 class="mb-3 text-center">Consignes importantes</h6>
                <ul class="ms-3 p-0">
                    <li>Ne transportez que des articles avec lesquels vous êtes à l'aise.</li>
                    <li>Vérifiez le contenu avant d'accepter les colis.</li>
                    <li>Communiquez de manière transparente.</li>
                    <li>Respectez les réglementations douanières.</li>
                    <li>Fournissez des mises à jour de suivi lorsque cela est possible.</li>
                </ul>
            </div>
        </div>
    </div>
</div>