<div class="mt-app">
    @if (loading) {
    <div>Chargement ... </div>
    }

    <div class="container mb-4">
        <span class="material-symbols-outlined color-1" (click)="onBackToListing()">
            keyboard_backspace
        </span>
    </div>

    <div class="container mb-4">
        <h1 style="color: rgb(4, 84, 4);">Détail du voyage</h1>
    </div>

    @if (!loading && trip) {
    <div class="container">
        <div class="trip-container">
            <div class="trip-details">
                <div class="departure-and-arrival">
                    <p class="muted">Route</p>
                    <div class="d-flex gap-2">
                        <mat-icon class="color-1 location-icon">location_on</mat-icon>
                        <p class="p-0 m-0">
                            <strong>{{trip.originCity}}, {{trip.originCountry}}</strong><br>
                            <span class="muted">Départ</span>
                        </p>
                    </div>
                    <div class="d-flex gap-2 border-start my-2" style="height: 30px; margin-left: 19px;">
                    </div>
                    <div class="d-flex gap-2">
                        <mat-icon class="color-1 location-icon">location_on</mat-icon>
                        <p>
                            <strong>{{trip.destCity}}, {{trip.destCountry}}</strong><br>
                            <span class="muted">Arrivé</span>
                        </p>
                    </div>
                </div>

                <div class="date-weight-kilo mt-2">
                    <div class="mt-2">
                        <div class="row">
                            <div class="d-flex mb-3 gap-4 col-8">
                                <div class="card-text d-flex align-items-center gap-1"
                                    style="color: var(--color-muted);">
                                    <span class="material-symbols-outlined icon-size-lg">calendar_today</span>
                                    <span class="text-meta">{{trip.departDate | date:'dd MMM yyyy' }}</span>
                                </div>
                                <div class="card-text d-flex align-items-center gap-1"
                                    style="color: var(--color-muted);">
                                    <span class="material-symbols-outlined icon-size-lg">balance</span>
                                    <span class="text-meta">{{trip.maxWeightKg}}kg</span>
                                </div>
                            </div>
                            <span class="mb-2 col-4 text-end"
                                style="font-size: var(--text-xxl); color: var(--color-accent); font-weight: 1000;">
                                {{trip.pricePerKg}}€/kg
                            </span>
                        </div>
                    </div>

                    <div style="background-color: var(--color-bg-accent);" class="pt-2 pb-2 px-3 mt-2 rounded-2">
                        <h6 class="mt-1 muted" style="font-size: var(--text-ms);">Description</h6>
                        @if(trip.note){
                        <p style="font-size: var(--text-sm);">{{trip.note}}</p>
                        }@else {
                        <p style="font-style: italic;"> <strong>{{trip.transporter.firstName }}</strong> n’a pas laissé
                            de note. Contactez-le pour plus d’informations. </p>
                        }
                    </div>
                </div>
            </div>

            <div class="trip-user-info">
                <div class="rounded-4 transporter-detail">
                    <div class="trip-details-button">
                        <h5 class="">Transporteur</h5>
                        <div class="user-foto-and-name gap-2">
                            <div class="avatar" style="width: 50px; height: 50px;">
                                {{(trip.transporter.firstName | firstLetter )}}
                            </div>
                            <h6 class="m-0 p-0">{{trip.transporter.firstName}}</h6>
                        </div>

                        <div class="d-grid gap-2 pb-2">
                            <button (click)="onContactClick()" class="btn-app btn-app-primary gap-2">
                                <mat-icon class="material-symbols-outlined">chat_bubble</mat-icon>
                                Contacter le transporteur
                            </button>
                        </div>
                    </div>
                    <div class="transporter-additional-info">
                        <h6 class="pt-1 pb-2">Conseils de sécurité</h6>
                        <ul>
                            <li>Vérifier l'identité du transporteur</li>
                            <li>Emballer les articles de manière sécurisée</li>
                            <li>Déclarer honnêtement le contenu</li>
                            <li>Obtenir une confirmation de suivi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    @if (loading && !trip) {
    <div>Annonce introuvable!</div>
    }
</div>