.trip-container{
    display: flex;
}

.trip-details{
    border: 1px solid var(--color-border);
    border-radius: 14px;
    padding: 20px;
    flex: 7;
    margin-right: 10px;
}

.date-weight-kilo{
    border-top: 1px solid var(--color-border);
    padding-top: 10px;
}

.date-weight-kilo .price{
    display: flex;
    justify-content: end;
    padding-top: 8px;
}

.description{
    border-top: 1px solid var(--color-border);
}

.trip-user-info{
    flex: 3;
}

.trip-details-button{
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 8px;
}

.location-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgba(34, 197, 94, 0.18);
    overflow: hidden;
    display: grid;
    place-items: center;
    margin: 0px;
}

.transporter-detail .user-foto-and-name{
    display: flex;
    margin: 20px 0px;
    align-items: center;
}

.transporter-detail {
    border: 1px solid var(--color-border);
    padding: 20px 20px;
}

.transporter-detail button{
    font-size: 14px;
    font-weight: 400;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2;
}

.transporter-additional-info{
    padding-top: 10px;
    margin-top: 6px;
}

.transporter-additional-info h6{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-muted);
}

.transporter-additional-info li{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.675);
    margin: 6px 0px;
}

@media (max-width: 600px) {

    .trip-container{
        flex-direction: column;
    }

    .trip-container .trip-details,
    .trip-container .trip-user-info{
        border: none;
        padding: 0px;
        flex: 0 0 100%;
        margin: 0px;
    }

    .trip-details-button{
        border-top: 1px solid var(--color-border);
    }

    .transporter-additional-info,
    .trip-details-button,
    .description,
    .date-weight-kilo,
    .departure-and-arrival{
        margin-bottom: 10px;
        padding: 16px;
    }

    .transporter-detail {
        border: none;
        padding: 0px;
    }

    .transporter-detail h5{
        font-size: var(--text-base);
        color: var(--color-muted);
        font-weight: 400;
    }

    .description{
        border: 1px solid var(--color-border);
        margin-top: 10px;
    }

    .transporter-detail .button-contact-transporter{
        display: none;
    }   
}