<div class="search-entry-wrapper">
  <button class="search-entry-button" type="button" (click)="openSearchOverlay()">
    <span class="material-symbols-outlined search-icon">search</span>

    <div class="search-entry-text">
      @if (!searchSummary) {
        <span class="search-placeholder">Destination, dates...</span>
      } @else {
        <span class="search-value">{{ searchSummary }}</span>
      }
    </div>
  </button>
</div>

@if (showSearchOverlay) {
  <div class="search-overlay">
    <div class="container text-center mt-3">
      Recherche
    </div>

    <div class="search-overlay__content">
      <app-city-autocomplete-component
        (backClick)="closeSearchOverlay()"
        icon="arrow_back"
        [cities]="cities"
        label="Où au Cameroun ?"
        placeholder="Ex: Douala, Yaoundé…"
        [(ngModel)]="destination"
        name="destCity"
        [showSearchIcon]="true"
        (searchClick)="submitSearch()"
        [required]="false"
        [minlength]="2">
      </app-city-autocomplete-component>
    </div>
  </div>
}