<!--
<div class="search-entry-wrapper">
  <button class="search-entry-button" type="button" (click)="openSearchOverlay()">
    <span class="material-symbols-outlined search-icon">search</span>

    <div class="search-entry-text">
      @if (!searchSummary) {
        <span class="search-placeholder">Destination, dates...</span>
      } @else {
        <span class="search-value">{{ searchSummary }}</span>
      }
    </div>
  </button>
</div>

@if (showSearchOverlay) {
  <div class="search-overlay">
    <div class="search-overlay__header">
      <button type="button" class="icon-btn" (click)="closeSearchOverlay()">
        <span class="material-symbols-outlined">arrow_back</span>
      </button>

      <span class="search-overlay__title">Recherche</span>

      <button type="button" class="text-btn" (click)="resetSearchForm()">
        Annuler
      </button>
    </div>

    <div class="search-overlay__content">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Destination</mat-label>
        <input
          #destinationInput
          matInput
          placeholder="Ex. Berlin"
          [(ngModel)]="destination"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Période</mat-label>

        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Date de départ" [(ngModel)]="startDate" />
          <input matEndDate placeholder="Date de retour" [(ngModel)]="endDate" />
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button class="search-submit-btn" type="button" (click)="submitSearch()">
        Rechercher
      </button>
    </div>
  </div>
}
-->

<div class="search-entry-wrapper">
  <button class="search-entry-button" type="button" (click)="openSearchOverlay()">
    <span class="material-symbols-outlined search-icon">search</span>

    <div class="search-entry-text">
      @if (!searchSummary) {
        <span class="search-placeholder">Destination, dates...</span>
      } @else {
        <span class="search-value">{{ searchSummary }}</span>
      }
    </div>
  </button>
</div>

@if (showSearchOverlay) {
  <div class="search-overlay">
    <div class="container text-center mt-3">
      Recherche
    </div>

    <div class="search-overlay__content">
      <app-city-autocomplete-component
        (backClick)="closeSearchOverlay()"
        icon="arrow_back"
        [cities]="cities"
        label="Où au Cameroun ?"
        placeholder="Ex: Douala, Yaoundé…"
        [(ngModel)]="destination"
        name="destCity"
        [showSearchIcon]="true"
        (searchClick)="submitSearch()"
        [required]="false"
        [minlength]="2">
      </app-city-autocomplete-component>
    </div>
  </div>
}