<div class="row g-3">
  @for (item of skeletonItems; track item) {
    <div class="col-12 col-md-6 col-lg-4">
      <div class="skeleton-card">

        <div class="skeleton-line skeleton-city"></div>

        <div class="skeleton-divider"></div>

        <div class="skeleton-line skeleton-city"></div>

        <div class="skeleton-meta-row">
          <div class="skeleton-line skeleton-meta"></div>
          <div class="skeleton-line skeleton-meta"></div>
          <div class="skeleton-line skeleton-price"></div>
        </div>

        <div class="skeleton-footer">
          <div class="skeleton-avatar"></div>
          <div class="skeleton-line skeleton-name"></div>
        </div>

      </div>
    </div>
  }
</div>