<div class="auth-shell">
  <div class="p-3" style="position: absolute; width: 100%;">
    <span class="material-symbols-outlined go-to-home-button" routerLink="/"> keyboard_backspace</span>
    <div class="auth-top">
      
      <a routerLink="/" class="brand"><span class="first-part-brand">Mboko</span><span class="second-part-brand">GO</span></a>
      
    </div>
    <app-language-switcher class="language-switcher"></app-language-switcher>
  </div>

  <main class="auth-content">
    <section class="auth-card">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>