<div class="auth-shell">
  <span class="material-symbols-outlined go-to-home-button" routerLink="/"> keyboard_backspace</span>
  <div class="auth-top">
    
    <a routerLink="/" class="brand"><span class="first-part-brand">Mboko</span><span class="second-part-brand">Go</span></a>
    
  </div>
  <app-language-switcher class="language-switcher"></app-language-switcher>

  <main class="auth-content">
    <section class="auth-card">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>